.view {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    margin: 32px auto;
    text-align: center;
    width: 100%;
    position: relative;
}

.wordContainer {
    position: relative;
    top: 50%;
    transform: translateY(calc(-100% - 96px));
    width: 100%;
    text-align: center;
    margin: 32px auto;
}